.product-page-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: start;
    color: black;
}

.product-page-promo-price {
    font-weight: 700;
    white-space: nowrap;
    font-size: 1rem;
    color: #e32b2b;
}

.product-page-price {
    font-weight: 700;
    white-space: nowrap;
}

.product-page-short-description {
    font-weight: 300;
    font-size: 0.875rem;
}

.product-page-wishlist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black !important;
    background-color: white;
    border-radius: 0;
    height: 48px;
    width: 48px;
}

.product-page-cart-button {
    text-align: start;
    width: 100%;
}

.product-page-image {
    min-height: 500px;
    max-height: 747px;
    cursor: zoom-in;
}

.product-thumbs {
    color: black;
    font-weight: 300;
}

.product-images-slider-thumbs {
    padding-bottom: 24px;
}

.product-images-thumb-item {
    padding: 1px;
    width: fit-content;
}

.product-images-thumb-item:hover {
    padding: 0;
    border: 1px solid black;
}

.accordion-item {
    border-left: none;
    border-right: none;
}

.accordion-button {
    font-weight: 600;
    color: #2e2e2e !important;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
    border-radius: 0 !important;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-item:first-of-type {
    border-radius: 0;
}

.product-detail {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 0.875rem;
}

.product-detail:nth-child(2n-1) {
    background-color: #eceff1;
}

.product-detail:last-child {
    margin-bottom: 1rem;
}